@using Shop.Models;
@model Shop.Models.Products
@{
    ViewData["Title"] = "Create Page";
}

<br />

<h2 class="text-info">Add New Product</h2>


    <div class="p-4 rounded border">

      <from asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-for="ModelOnly" class="text-danger"> </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="Price" class="form-control" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description"></label>
            </div>
            <div class="col-5">
                <input asp-for="Description" class="form-control" />
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ImageFile"></label>
            </div>
            <div class="col-5">
               <input asp-for="ImageFile" src="  " type="file" accept="image/*" />
                @*   <input asp-for="Image" class="form-control" type="file" name="image" /> *@
            </div>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <br/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductColor"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductColor" class="form-control" />
            </div>
            <span asp-validation-for="ProductColor" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductSize"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductSize" class="form-control" />
            </div>
            <span asp-validation-for="ProductSize" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductTypeId"></label>
            </div>
            <div class="col-5">
                <select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypeId" class="from-control"></select>
            </div>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>
        <br/>

        <div class="from-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
        </from>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial", Model);
    }
}